stages:
  - deploy

.deploy_template: &deploy_template
  before_script:
    - pip install -r requirements.txt

deploy:dev:
  <<: *deploy_template
  stage: deploy
  script:
    - python src/main.py apply dev
  environment:
    name: development
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: manual

deploy:prod:
  <<: *deploy_template
  stage: deploy
  script:
    - python src/main.py apply prod
  environment:
    name: production
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual